#bigmap {
  @extend %divv;
  overflow: hidden;
  .img1:hover {
    border: none;
    outline: none;
    width: $div_width;
    opacity: $opacitys;
  }
  ul {
    margin-top: 26px;
    overflow: hidden;
    padding: 40px 0;
    background-color: #fff;
    li:last-child {
      border-right: 0;
    }
  }
}
#bigmap ul li {
  width: 25%;
  border-right: 1px solid #dedede;
  padding: 0 25px;
  box-sizing: border-box;
  float: left;
}
#bigmap ul li {
  width: 300px;
  display: block;
  cursor: move;

  .img2:hover {
    opacity: $opacitys;
  }
}
