//导航菜单
#navigation {
  width: $page_width;
  height: 36px;
  background-color: #f5f5f5;
  .category {
    width: $div_width;
    height: 36px;
    margin: auto;
    display: flex;
    .cleft {
      //左边的结构样式
      height: 36px;
      display: flex;
      position: relative;
    }
    .cringht {
      height: 36px;
      display: flex;
      margin-left: 25px;
    }
  }
}
.cleft .cleft_lt {
  width: 174px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc0000;
  .icon-list2 {
    font-size: 20px;
    color: white;
    margin-left: 5px;
  }
  p {
    margin-left: 12px;
    font-size: 12px;
    color: white;
  }
}
.classify {
  //商品分类的ul盒子
  width: 174px;
  height: 450px;
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  left: 0;
  top: 36px;
  z-index: 999;
  li {
    height: 40px;
    display: flex;
    p {
      width: 150px;
      height: 40px;
    }
    .iconfont {
      color: white;
      font-size: 16px;
      line-height: 40px;
    }
    a {
      font-size: 12px;
      color: white;
      line-height: 38px;
    }
    .icon-youjiantou {
      font-size: 10px;
    }
  }
  li:hover {
    background-color: white;
  }
  li:hover a {
    color: #cc0000;
  }
  li:hover .icon-youjiantou {
    color: #cc0000;
  }
}
//移入li里面的商品信息
.classify .listdiv {
  width: 990px;
  height: 450px;
  z-index: 99;
  position: absolute;
  left: 174px;
  top: 0;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  .dl {
    width: 660px;
    height: 50px;
    margin: 20px 40px 20px 30px;
    display: flex;
    .dd {
      width: 125px;
      line-height: 50px;
      span {
        font-size: 16px;
        color: rgb(116, 116, 116);
      }
      span:hover {
        color: #cc0000;
      }
    }
    .dt {
      width: 438px;
      line-height: 50px;
      margin-left: 20px;
      color: rgb(116, 116, 116);
      border-bottom: 1px solid #ccc;
    }
    .dt:hover {
      color: #cc0000;
    }
  }
}
.classify li:hover .listdiv {
  display: block;
}
.listdiv .listringht {
  width: 300px;
  height: 450px;
  background-color: #f5f5f5;
  position: absolute;
  left: 689px;
  top: 0;
  h1 {
    margin-left: 84px;
    font-size: 17px;
    color: #424242;
    margin-top: 20px;
  }
  ul {
    width: 260px;
    height: 394px;
    margin: 10px 20px 10px 20px;

    li {
      width: 125px;
      height: 187px;
      float: left;
      margin-right: 10px;
      margin-top: 10px;
      background-color: white;
    }
    #li2,
    #li4 {
      margin-right: 0px;
    }
  }
}
#liimgs {
  img {
    display: inline-block;
    width: 114px;
    height: 114px;
    margin-top: 5px;
    margin-left: 5px;
  }
  h3 {
    width: 114px;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 10px;
    height: 20px;
    color: #424242;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    margin-left: 32px;
    margin-top: 12px;
  }
}
#navigation .cringht {
  width: 990px;
  //右边的结构样式
  ul {
    display: flex;
    li {
      height: 36px;
      margin-right: 28px;
      a {
        color: #424242;
        line-height: 36px;
        font-size: 14px;
      }
      a:hover {
        color: $hovercolor;
      }
    }
  }
}
