#slideshow {
  width: 100%;
  height: 450px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  ul {
    width: 600%;
    position: absolute;
    left: 0;
    top: 0;
    li {
      width: 1519px;
      float: left;
      height: 450px;
    }
  }
}
ol {
  position: absolute;
  left: 45%;
  bottom: 20px;
  li {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    border: 2px solid #fff;
    text-indent: -999em;
    margin: 0 4px;
    cursor: pointer;
    opacity: 0.4;
    float: left;
  }
  .active {
    background-color: #fff;
    opacity: 1;
  }
}
