@charset "utf-8";
@import "compass/reset"; //重置

$page_width: 100%;
$div_width: 1200px;
$div_height: 616px;
$margins: 30px;
$divmargin: 0 auto;
$opacitys: 0.8;
$colors: (
  a: #adc,
  b: red,
  c: blue,
  d: green,
  f: #ff00,
  g: yellow,
  h: purple
);
%divv {
  width: $div_width;
  margin: 0 auto;
}
body {
  background-color: #f5f5f5;
}

@import "top"; //顶部

@import "header"; //头部加搜索框

//导航菜单
#navigation {
  width: $page_width;
  height: 36px;
  background-color: map-get($colors, a);
}
//轮播图
#slideshow {
  width: $page_width;
  height: 450px;
  background-color: map-get($colors, b);
}

@import "recommend"; //热销推荐

//每日精选
#choiceness {
  @extend %divv;
  height: 570px;
  margin-bottom: $margins;
  background-color: map-get($colors, d);
}
//冰箱洗衣机
#refrigerator {
  @extend %divv;
  height: $div_height;
  margin-bottom: $margins;
  background-color: map-get($colors, h);
}
//空气能热水器
#calorifier {
  @extend %divv;
  height: $div_height;
  margin-bottom: $margins;
  background-color: map-get($colors, g);
}
//厨房电器
#electric {
  @extend %divv;
  height: $div_height;
  margin-bottom: $margins;
  background-color: map-get($colors, h);
}
//生活电器
#live {
  @extend %divv;
  height: $div_height;
  margin-bottom: $margins;
  background-color: map-get($colors, b);
}
//格力手机
#phone {
  @extend %divv;
  height: $div_height;
  margin-bottom: $margins;
  background-color: map-get($colors, a);
}
//家用空调
#conditioner {
  @extend %divv;
  height: $div_height;
  margin-bottom: $margins;
  background-color: map-get($colors, g);
}
//视频
#video {
  @extend %divv;
  height: $div_height;
  margin-bottom: $margins;
  background-color: map-get($colors, h);
}
//尾部大头图
@import "bigmap";
//尾部结构
#footer {
  @extend %divv;
  height: 378.6px;
  margin-bottom: $margins;
  border-top: 1px solid #ccc;
  background-color: map-get($colors, g);
}
