/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_inner.scss */
#inner {
  position: relative;
  margin: auto;
  background: #fff;
  box-shadow: none;
  border: 1px solid #e8e8e8;
  width: 1198px;
  height: 660px;
  margin-bottom: 30px;
}
/* line 10, ../sass/_inner.scss */
#inner .mic {
  width: 1180px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  margin: 30px 10px 10px 10px;
}
/* line 16, ../sass/_inner.scss */
#inner .mic span {
  font-size: 16px;
  margin-left: 20px;
}
/* line 20, ../sass/_inner.scss */
#inner .mic a {
  text-decoration: none;
  color: #747474;
  font-size: 12px;
}

/* line 28, ../sass/_inner.scss */
#inner .pic_left {
  width: 398px;
  height: 526.2px;
  margin-left: 25px;
  margin-top: 15px;
  position: relative;
  border: 1px solid #ccc;
  border-bottom: none;
}
/* line 36, ../sass/_inner.scss */
#inner .pic_left .xt {
  width: 398px;
  height: 399px;
  float: left;
  border-bottom: 1px solid #ccc;
}
/* line 41, ../sass/_inner.scss */
#inner .pic_left .xt img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 47, ../sass/_inner.scss */
#inner .pic_left .sf {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0.15;
  background-color: red;
  cursor: move;
}

/* line 60, ../sass/_inner.scss */
.pic_left .smalling {
  width: 398px;
  height: 94px;
  position: absolute;
  left: 0px;
  top: 420px;
}
/* line 66, ../sass/_inner.scss */
.pic_left .smalling .zjt {
  width: 15px;
  height: 20px;
  font-size: 26px;
  color: #fff;
  z-index: 999;
  margin-top: 40px;
  cursor: pointer;
}
/* line 75, ../sass/_inner.scss */
.pic_left .smalling .yjt {
  width: 15px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 40px;
  font-size: 26px;
  z-index: 999;
  color: #747474;
  cursor: pointer;
}
/* line 86, ../sass/_inner.scss */
.pic_left .smalling .imageMenu {
  width: 360px;
  height: 82px;
  overflow: hidden;
  position: absolute;
  left: 18px;
  top: 15px;
}
/* line 93, ../sass/_inner.scss */
.pic_left .smalling .imageMenu ul {
  margin-left: -3px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 99, ../sass/_inner.scss */
.pic_left .smalling .imageMenu li {
  width: 88px;
  height: 82px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 109, ../sass/_inner.scss */
.pic_left li img {
  display: inline-block;
  width: 78px;
  height: 78px;
  cursor: pointer;
}

/* line 116, ../sass/_inner.scss */
#inner .df {
  width: 480px;
  height: 422px;
  border: 1px solid #ccc;
  position: absolute;
  left: 0px;
  top: 25px;
  visibility: hidden;
}
/* line 124, ../sass/_inner.scss */
#inner .df img {
  display: inline-block;
  position: absolute;
  width: 800px;
  height: 800px;
}

/* line 132, ../sass/_inner.scss */
.pic_ringht {
  width: 700px;
  height: 528px;
  position: absolute;
  left: 450px;
  top: 85px;
  overflow: hidden;
}
/* line 139, ../sass/_inner.scss */
.pic_ringht h3 {
  width: 450px;
  font-size: 14px;
  margin-left: 30px;
  margin-top: 50px;
  font-family: arial, "microsoft yahei";
  color: #cc0000;
}
/* line 147, ../sass/_inner.scss */
.pic_ringht .title {
  width: 450px;
  height: 50px;
  margin-top: 50px;
}
/* line 151, ../sass/_inner.scss */
.pic_ringht .title h4 {
  font-size: 18px;
  width: 450px;
  margin-left: 30px;
  line-height: 1.5em;
}

/* line 159, ../sass/_inner.scss */
.pic_ringht .jiage {
  width: 450px;
  height: 35px;
  margin-top: 50px;
  margin-left: 30px;
}
/* line 164, ../sass/_inner.scss */
.pic_ringht .jiage a {
  text-decoration: none;
  font-size: 16px;
  color: #747474;
  line-height: 35px;
}
/* line 170, ../sass/_inner.scss */
.pic_ringht .jiage span {
  color: #cc0000;
  font-size: 18px;
  line-height: 35px;
  margin-left: 10px;
}

/* line 177, ../sass/_inner.scss */
.pic_ringht .sl {
  width: 236px;
  height: 34px;
  margin-top: 50px;
  margin-left: 30px;
}
/* line 182, ../sass/_inner.scss */
.pic_ringht .sl a {
  width: 58px;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
  color: #747474;
  float: left;
}
/* line 190, ../sass/_inner.scss */
.pic_ringht .sl .wrap-input {
  width: 140px;
  height: 34px;
  float: left;
}
/* line 194, ../sass/_inner.scss */
.pic_ringht .sl .wrap-input #ipta {
  width: 22px;
  height: 22px;
  background: #f7f7f7;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  margin-top: 5px;
  text-align: center;
  line-height: 22px;
}
/* line 205, ../sass/_inner.scss */
.pic_ringht .sl .wrap-input #count {
  width: 28px;
  float: left;
  text-align: center;
  height: 22px;
  background: #fff;
  line-height: 18px;
  overflow: hidden;
  border: none;
  margin-top: 5px;
}
/* line 216, ../sass/_inner.scss */
.pic_ringht .sl .wrap-input span {
  width: 32px;
  font-size: 15px;
  line-height: 34px;
  color: #545454;
  float: left;
  margin-left: 15px;
}

/* line 227, ../sass/_inner.scss */
.pic_ringht .join {
  width: 302px;
  height: 50px;
  margin-top: 50px;
  margin-left: 30px;
}
/* line 232, ../sass/_inner.scss */
.pic_ringht .join .left {
  width: 138px;
  height: 50px;
  float: left;
  background-color: #cc0000;
}
/* line 237, ../sass/_inner.scss */
.pic_ringht .join .left a {
  text-decoration: none;
  margin-left: 28px;
  padding-top: 15px;
  color: white;
  float: left;
}

/* line 247, ../sass/_inner.scss */
.pic_ringht .join .ringht {
  width: 138px;
  height: 48px;
  margin-left: 10px;
  float: left;
  background-color: pink;
  border: 1px solid #cc0000;
}
/* line 254, ../sass/_inner.scss */
.pic_ringht .join .ringht a {
  text-decoration: none;
  line-height: 48px;
  margin-left: 32px;
  color: #cc0000;
}
