/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/index.scss */
#header, #recommend, #choiceness, #refrigerator, #calorifier, #electric, #live, #phone, #conditioner, #video, #bigmap, #footer {
  width: 1200px;
  margin: 0 auto;
}

/* line 23, ../sass/index.scss */
body {
  background-color: #f5f5f5;
}

/* line 2, ../sass/_top.scss */
#top {
  width: 100%;
  height: 35px;
  background-color: #eeeeee;
}
/* line 6, ../sass/_top.scss */
#top .topwrap {
  width: 1200px;
  margin: 0 auto;
  background-color: #eeeeee;
}
/* line 10, ../sass/_top.scss */
#top .topwrap .left {
  float: left;
  margin-left: 50px;
}
/* line 14, ../sass/_top.scss */
#top .topwrap .left ul li {
  float: left;
  position: relative;
}

/* line 21, ../sass/_top.scss */
li a {
  line-height: 35px;
  color: #cc0000;
  text-decoration: none;
  font-size: 12px;
  cursor: move;
}

/* line 28, ../sass/_top.scss */
li span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  color: #ccc;
}

/* line 34, ../sass/_top.scss */
#xz {
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 999;
  display: none;
}

/* line 41, ../sass/_top.scss */
#xz1 {
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 999;
  display: none;
}

/* line 50, ../sass/_top.scss */
#top .right {
  float: right;
  position: relative;
}
/* line 53, ../sass/_top.scss */
#top .right ul li {
  float: left;
  position: relative;
}
/* line 56, ../sass/_top.scss */
#top .right ul li a {
  color: #747474;
}

/* line 62, ../sass/_top.scss */
#top .right ul li:hover a {
  color: #cc0000;
}

/* line 65, ../sass/_top.scss */
.right .icon-shoucang,
.icon-kefu {
  font-size: 10px;
  color: #828282;
  margin: 0;
}

/* line 71, ../sass/_top.scss */
.right .add {
  width: 100px;
  height: 0px;
  position: absolute;
  left: -15px;
  top: 35px;
  opacity: 0;
  background-color: white;
}
/* line 79, ../sass/_top.scss */
.right .add p {
  margin-left: 25px;
  margin-top: 10px;
  font-size: 12px;
  color: #747474;
}
/* line 85, ../sass/_top.scss */
.right .add p:hover {
  color: #cc0000;
}

/* line 89, ../sass/_top.scss */
.right .add1 {
  width: 90px;
  height: 45px;
  background-color: white;
  position: absolute;
  left: -15px;
  top: 35px;
  display: none;
  opacity: 0;
}
/* line 98, ../sass/_top.scss */
.right .add1 p {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 12px;
  color: #747474;
}
/* line 104, ../sass/_top.scss */
.right .add1 p:hover {
  color: #cc0000;
}
/* line 107, ../sass/_top.scss */
.right .add1 img {
  position: absolute;
  top: 14px;
  left: 65px;
}
/* line 112, ../sass/_top.scss */
.right .add1 img:hover {
  opacity: 0.8;
}

/* line 116, ../sass/_top.scss */
.right li:hover .add {
  display: block;
  height: 66px;
  opacity: 1;
  z-index: 999;
}

/* line 122, ../sass/_top.scss */
.right li:hover .add1 {
  display: block;
  height: 45px;
  opacity: 1;
  z-index: 999;
}

/* line 2, ../sass/_header.scss */
#header {
  background-color: #f5f5f5;
  height: 110px;
}
/* line 7, ../sass/_header.scss */
#header .left {
  float: left;
  width: 210px;
  height: 80px;
  margin-top: 10px;
}
/* line 12, ../sass/_header.scss */
#header .left #left_img {
  width: 174px;
}
/* line 14, ../sass/_header.scss */
#header .left #left_img img {
  width: 100%;
  height: 80px;
  display: block;
  cursor: move;
}

/* line 24, ../sass/_header.scss */
.middle {
  float: left;
  width: 740px;
  height: 96px;
  margin-left: 28px;
}
/* line 30, ../sass/_header.scss */
.middle .sosuo {
  float: left;
  margin-top: 20px;
  width: 564px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #cc0000;
  outline: 0;
}
/* line 39, ../sass/_header.scss */
.middle .middle_img {
  float: left;
  width: 144px;
  margin-top: 20px;
  margin-left: 30px;
  height: 40px;
}
/* line 45, ../sass/_header.scss */
.middle .middle_img img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 50, ../sass/_header.scss */
.middle .middle_img img:hover {
  opacity: 0.8;
}

/* line 56, ../sass/_header.scss */
.sosuo .sp {
  width: 68px;
  height: 38px;
  background-color: #f5f5f5;
  border-radius: 20px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
/* line 66, ../sass/_header.scss */
.sosuo .sp p {
  color: #747474;
  font-size: 12px;
  margin-left: 5px;
}
/* line 70, ../sass/_header.scss */
.sosuo .sp p .icon-xiajiantou {
  margin-left: 10px;
}
/* line 75, ../sass/_header.scss */
.sosuo .ipt {
  width: 426px;
  height: 38px;
  float: left;
}
/* line 79, ../sass/_header.scss */
.sosuo .ipt input {
  width: 426px;
  height: 35px;
  border: none;
  border-left: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: 14px;
}
/* line 88, ../sass/_header.scss */
.sosuo .bt {
  position: relative;
  float: left;
}
/* line 91, ../sass/_header.scss */
.sosuo .bt .bt_fdj {
  width: 70px;
  height: 38px;
  background-color: #cc0000;
  border-radius: 20px;
}
/* line 96, ../sass/_header.scss */
.sosuo .bt .bt_fdj .icon-fangdajing {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 26px;
  top: 9px;
}

/* line 106, ../sass/_header.scss */
.bottom {
  width: 640px;
  height: 30px;
  margin-top: 65px;
  margin-left: 18px;
}
/* line 111, ../sass/_header.scss */
.bottom a {
  text-decoration: none;
}
/* line 114, ../sass/_header.scss */
.bottom a span {
  font-size: 12px;
  color: #747474;
  line-height: 30px;
  margin-right: 15px;
}
/* line 121, ../sass/_header.scss */
.bottom span:hover {
  color: #cc0000;
}

/* line 126, ../sass/_header.scss */
#header .right {
  float: right;
  margin-top: 26px;
  margin-right: 50px;
  position: relative;
}
/* line 131, ../sass/_header.scss */
#header .right .rg {
  width: 140px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
/* line 136, ../sass/_header.scss */
#header .right .rg img {
  margin-left: 20px;
  margin-top: 10px;
  width: 26px;
  height: 24px;
}
/* line 143, ../sass/_header.scss */
#header .right span {
  position: absolute;
  left: 58px;
  top: 16px;
  font-size: 14px;
  color: #666;
}

/* line 151, ../sass/_header.scss */
#header .right .gwc {
  width: 400px;
  height: 100px;
  box-shadow: 0px 0px 8px #ddd;
  border: 1px solid #f5f5f5;
  background: #fff;
  position: absolute;
  left: -262px;
  top: 46px;
  z-index: 999;
}
/* line 161, ../sass/_header.scss */
#header .right .gwc .content {
  width: 380px;
  height: 30px;
  margin: 10px;
  background-color: #fafafa;
}
/* line 166, ../sass/_header.scss */
#header .right .gwc .content p {
  font-size: 12px;
  color: #cc0000;
  line-height: 30px;
}
/* line 172, ../sass/_header.scss */
#header .right .gwc .wenzi {
  height: 68px;
  font-size: 10px;
  line-height: 68px;
  text-align: center;
  margin-top: -10px;
  color: #d8d2d2;
}

/* line 181, ../sass/_header.scss */
#header .right .gwc {
  display: none;
}

/* line 184, ../sass/_header.scss */
#header .right:hover .gwc {
  display: block;
}

/* line 32, ../sass/index.scss */
#navigation {
  width: 100%;
  height: 36px;
  background-color: #adc;
}

/* line 38, ../sass/index.scss */
#slideshow {
  width: 100%;
  height: 450px;
  background-color: red;
}

/* line 1, ../sass/_recommend.scss */
#recommend {
  height: 218px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 7, ../sass/_recommend.scss */
#recommend ul {
  margin-top: 10px;
  width: 1200px;
  margin-right: 10px;
  background-color: brown;
}
/* line 12, ../sass/_recommend.scss */
#recommend ul li {
  width: 290px;
  height: 180px;
  float: left;
  margin-right: 10px;
}
/* line 17, ../sass/_recommend.scss */
#recommend ul li img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 24, ../sass/_recommend.scss */
#recommend img:hover {
  opacity: 0.8;
}

/* line 28, ../sass/_recommend.scss */
li:last-child {
  margin-right: 0;
}

/* line 31, ../sass/_recommend.scss */
.title {
  width: 1200px;
  height: 24px;
  font-size: 18px;
  margin: 14px 0;
  color: #757575;
}

/* line 47, ../sass/index.scss */
#choiceness {
  height: 570px;
  margin-bottom: 30px;
  background-color: green;
}

/* line 54, ../sass/index.scss */
#refrigerator {
  height: 616px;
  margin-bottom: 30px;
  background-color: purple;
}

/* line 61, ../sass/index.scss */
#calorifier {
  height: 616px;
  margin-bottom: 30px;
  background-color: yellow;
}

/* line 68, ../sass/index.scss */
#electric {
  height: 616px;
  margin-bottom: 30px;
  background-color: purple;
}

/* line 75, ../sass/index.scss */
#live {
  height: 616px;
  margin-bottom: 30px;
  background-color: red;
}

/* line 82, ../sass/index.scss */
#phone {
  height: 616px;
  margin-bottom: 30px;
  background-color: #adc;
}

/* line 89, ../sass/index.scss */
#conditioner {
  height: 616px;
  margin-bottom: 30px;
  background-color: yellow;
}

/* line 96, ../sass/index.scss */
#video {
  height: 616px;
  margin-bottom: 30px;
  background-color: purple;
}

/* line 1, ../sass/_bigmap.scss */
#bigmap {
  margin-bottom: 30px;
}
/* line 4, ../sass/_bigmap.scss */
#bigmap .img1:hover {
  border: none;
  outline: none;
  width: 1200px;
  opacity: 0.8;
}
/* line 10, ../sass/_bigmap.scss */
#bigmap ul {
  margin-top: 26px;
  overflow: hidden;
  padding: 40px 0;
  background-color: #fff;
}

/* line 17, ../sass/_bigmap.scss */
#bigmap ul li {
  width: 25%;
  border-right: 1px solid #dedede;
  padding: 0 25px;
  box-sizing: border-box;
  float: left;
}

/* line 24, ../sass/_bigmap.scss */
#bigmap ul li .img2:hover {
  width: 249px;
  display: block;
  cursor: move;
  opacity: 0.8;
}

/* line 105, ../sass/index.scss */
#footer {
  height: 378.6px;
  margin-bottom: 30px;
  border-top: 1px solid #ccc;
  background-color: yellow;
}
