/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/index.scss */
#header, #recommend, #choiceness, #refrigerator, #calorifier, #electric, #live, #phone, #conditioner, #video, #bigmap, #footer {
  width: 1200px;
  margin: 0 auto;
}

/* line 16, ../sass/index.scss */
body {
  background-color: #f5f5f5;
  position: relative;
}

/* line 2, ../sass/_top.scss */
#top {
  width: 100%;
  height: 35px;
  background-color: #eeeeee;
}
/* line 6, ../sass/_top.scss */
#top .topwrap {
  width: 1200px;
  margin: 0 auto;
  background-color: #eeeeee;
}
/* line 10, ../sass/_top.scss */
#top .topwrap .left {
  float: left;
  margin-left: 50px;
}
/* line 14, ../sass/_top.scss */
#top .topwrap .left ul li {
  float: left;
  position: relative;
}

/* line 21, ../sass/_top.scss */
li a {
  line-height: 35px;
  color: #cc0000;
  text-decoration: none;
  font-size: 12px;
  cursor: move;
}

/* line 28, ../sass/_top.scss */
li span {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 12px;
  color: #ccc;
}

/* line 34, ../sass/_top.scss */
#xz {
  position: absolute;
  left: 0;
  top: 35px;
  display: none;
  opacity: 0;
}

/* line 41, ../sass/_top.scss */
#xz1 {
  position: absolute;
  left: 0;
  top: 35px;
  display: none;
  opacity: 0;
}

/* line 48, ../sass/_top.scss */
li:hover #xz {
  display: block;
  opacity: 1;
  z-index: 999;
}

/* line 53, ../sass/_top.scss */
li:hover #xz1 {
  display: block;
  opacity: 1;
  z-index: 999;
}

/* line 60, ../sass/_top.scss */
#top .right {
  float: right;
  position: relative;
}
/* line 63, ../sass/_top.scss */
#top .right ul li {
  float: left;
  position: relative;
}
/* line 66, ../sass/_top.scss */
#top .right ul li a {
  color: #747474;
}

/* line 72, ../sass/_top.scss */
#top .right ul li:hover a {
  color: #cc0000;
}

/* line 75, ../sass/_top.scss */
.right .icon-shoucang,
.icon-kefu {
  font-size: 10px;
  color: #828282;
  margin: 0;
}

/* line 81, ../sass/_top.scss */
.right .add {
  width: 100px;
  height: 0px;
  position: absolute;
  left: -15px;
  top: 35px;
  opacity: 0;
  background-color: white;
}
/* line 89, ../sass/_top.scss */
.right .add p {
  margin-left: 25px;
  margin-top: 10px;
  font-size: 12px;
  color: #747474;
}
/* line 95, ../sass/_top.scss */
.right .add p:hover {
  color: #cc0000;
}

/* line 99, ../sass/_top.scss */
.right .add1 {
  width: 90px;
  height: 45px;
  background-color: white;
  position: absolute;
  left: -15px;
  top: 35px;
  display: none;
  opacity: 0;
}
/* line 108, ../sass/_top.scss */
.right .add1 p {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 12px;
  color: #747474;
}
/* line 114, ../sass/_top.scss */
.right .add1 p:hover {
  color: #cc0000;
}
/* line 117, ../sass/_top.scss */
.right .add1 img {
  position: absolute;
  top: 14px;
  left: 65px;
}
/* line 122, ../sass/_top.scss */
.right .add1 img:hover {
  opacity: 0.8;
}

/* line 126, ../sass/_top.scss */
.right li:hover .add {
  display: block;
  height: 66px;
  opacity: 1;
  z-index: 999;
}

/* line 132, ../sass/_top.scss */
.right li:hover .add1 {
  display: block;
  height: 45px;
  opacity: 1;
  z-index: 999;
}

/* line 2, ../sass/_header.scss */
#header {
  background-color: #f5f5f5;
  height: 110px;
}
/* line 6, ../sass/_header.scss */
#header .left {
  float: left;
  width: 210px;
  height: 80px;
  margin-top: 10px;
}
/* line 11, ../sass/_header.scss */
#header .left #left_img {
  width: 174px;
}
/* line 13, ../sass/_header.scss */
#header .left #left_img img {
  width: 100%;
  height: 80px;
  display: block;
  cursor: move;
}

/* line 23, ../sass/_header.scss */
.middle {
  float: left;
  height: 96px;
  margin-left: 28px;
}
/* line 27, ../sass/_header.scss */
.middle .sosuo {
  float: left;
  margin-top: 25px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #cc0000;
  outline: 0;
}
/* line 35, ../sass/_header.scss */
.middle .middle_img {
  float: left;
  width: 144px;
  margin-top: 25px;
  margin-left: 30px;
  height: 40px;
}
/* line 41, ../sass/_header.scss */
.middle .middle_img img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 46, ../sass/_header.scss */
.middle .middle_img img:hover {
  opacity: 0.8;
}

/* line 52, ../sass/_header.scss */
.sosuo .sp {
  height: 38px;
  background-color: #f5f5f5;
  border-radius: 20px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
/* line 61, ../sass/_header.scss */
.sosuo .sp p {
  color: #747474;
  font-size: 12px;
  margin-left: 5px;
}
/* line 65, ../sass/_header.scss */
.sosuo .sp p .icon-xiajiantou {
  margin-left: 10px;
}
/* line 70, ../sass/_header.scss */
.sosuo .ipt {
  height: 38px;
  float: left;
}
/* line 73, ../sass/_header.scss */
.sosuo .ipt input {
  width: 426px;
  height: 35px;
  border: none;
  outline: none;
  border-left: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: 14px;
}
/* line 83, ../sass/_header.scss */
.sosuo .bt {
  position: relative;
  float: left;
  cursor: move;
}
/* line 87, ../sass/_header.scss */
.sosuo .bt .bt_fdj {
  width: 70px;
  height: 38px;
  background-color: #cc0000;
  border-radius: 18px;
}
/* line 92, ../sass/_header.scss */
.sosuo .bt .bt_fdj .icon-fangdajing {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 26px;
  top: 9px;
}

/* line 102, ../sass/_header.scss */
.bottom {
  height: 30px;
  margin-top: 65px;
  margin-left: 18px;
}
/* line 106, ../sass/_header.scss */
.bottom a {
  text-decoration: none;
}
/* line 109, ../sass/_header.scss */
.bottom a span {
  font-size: 12px;
  color: #747474;
  line-height: 30px;
  margin-right: 15px;
}
/* line 116, ../sass/_header.scss */
.bottom span:hover {
  color: #cc0000;
}

/* line 121, ../sass/_header.scss */
#header .right {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  position: relative;
}
/* line 126, ../sass/_header.scss */
#header .right .rg {
  width: 140px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
/* line 131, ../sass/_header.scss */
#header .right .rg img {
  margin-left: 20px;
  margin-top: 10px;
  width: 26px;
  height: 24px;
}
/* line 138, ../sass/_header.scss */
#header .right span {
  position: absolute;
  left: 52px;
  top: 16px;
  font-size: 14px;
  color: #666;
}

/* line 146, ../sass/_header.scss */
#header .right .gwc {
  width: 400px;
  height: 100px;
  box-shadow: 0px 0px 8px #ddd;
  border: 1px solid #f5f5f5;
  background: #fff;
  position: absolute;
  left: -262px;
  top: 46px;
  z-index: 999;
}
/* line 156, ../sass/_header.scss */
#header .right .gwc .content {
  height: 30px;
  margin: 10px;
  background-color: #fafafa;
}
/* line 160, ../sass/_header.scss */
#header .right .gwc .content p {
  font-size: 12px;
  color: #cc0000;
  line-height: 30px;
}
/* line 166, ../sass/_header.scss */
#header .right .gwc .wenzi {
  font-size: 10px;
  line-height: 68px;
  text-align: center;
  margin-top: -10px;
  color: #d8d2d2;
}

/* line 174, ../sass/_header.scss */
#header .right .gwc {
  display: none;
}

/* line 177, ../sass/_header.scss */
#header .right:hover .gwc {
  display: block;
}

/* line 2, ../sass/_navigation.scss */
#navigation {
  width: 100%;
  height: 36px;
  background-color: #f5f5f5;
}
/* line 6, ../sass/_navigation.scss */
#navigation .category {
  width: 1200px;
  height: 36px;
  margin: auto;
  display: flex;
}
/* line 11, ../sass/_navigation.scss */
#navigation .category .cleft {
  height: 36px;
  display: flex;
  position: relative;
}
/* line 17, ../sass/_navigation.scss */
#navigation .category .cringht {
  height: 36px;
  display: flex;
  margin-left: 25px;
}

/* line 24, ../sass/_navigation.scss */
.cleft .cleft_lt {
  width: 174px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc0000;
}
/* line 30, ../sass/_navigation.scss */
.cleft .cleft_lt .icon-list2 {
  font-size: 20px;
  color: white;
  margin-left: 5px;
}
/* line 35, ../sass/_navigation.scss */
.cleft .cleft_lt p {
  margin-left: 12px;
  font-size: 12px;
  color: white;
}

/* line 41, ../sass/_navigation.scss */
.classify {
  width: 174px;
  height: 450px;
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  left: 0;
  top: 36px;
  z-index: 999;
}
/* line 50, ../sass/_navigation.scss */
.classify li {
  height: 40px;
  display: flex;
}
/* line 53, ../sass/_navigation.scss */
.classify li p {
  width: 150px;
  height: 40px;
}
/* line 57, ../sass/_navigation.scss */
.classify li .iconfont {
  color: white;
  font-size: 16px;
  line-height: 40px;
}
/* line 62, ../sass/_navigation.scss */
.classify li a {
  font-size: 12px;
  color: white;
  line-height: 38px;
}
/* line 67, ../sass/_navigation.scss */
.classify li .icon-youjiantou {
  font-size: 10px;
}
/* line 71, ../sass/_navigation.scss */
.classify li:hover {
  background-color: white;
}
/* line 74, ../sass/_navigation.scss */
.classify li:hover a {
  color: #cc0000;
}
/* line 77, ../sass/_navigation.scss */
.classify li:hover .icon-youjiantou {
  color: #cc0000;
}

/* line 82, ../sass/_navigation.scss */
.classify .listdiv {
  width: 990px;
  height: 450px;
  z-index: 99;
  position: absolute;
  left: 174px;
  top: 0;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
}
/* line 92, ../sass/_navigation.scss */
.classify .listdiv .dl {
  width: 660px;
  height: 50px;
  margin: 20px 40px 20px 30px;
  display: flex;
}
/* line 97, ../sass/_navigation.scss */
.classify .listdiv .dl .dd {
  width: 125px;
  line-height: 50px;
}
/* line 100, ../sass/_navigation.scss */
.classify .listdiv .dl .dd span {
  font-size: 16px;
  color: #747474;
}
/* line 104, ../sass/_navigation.scss */
.classify .listdiv .dl .dd span:hover {
  color: #cc0000;
}
/* line 108, ../sass/_navigation.scss */
.classify .listdiv .dl .dt {
  width: 438px;
  line-height: 50px;
  margin-left: 20px;
  color: #747474;
  border-bottom: 1px solid #ccc;
}
/* line 115, ../sass/_navigation.scss */
.classify .listdiv .dl .dt:hover {
  color: #cc0000;
}

/* line 120, ../sass/_navigation.scss */
.classify li:hover .listdiv {
  display: block;
}

/* line 123, ../sass/_navigation.scss */
.listdiv .listringht {
  width: 300px;
  height: 450px;
  background-color: #f5f5f5;
  position: absolute;
  left: 689px;
  top: 0;
}
/* line 130, ../sass/_navigation.scss */
.listdiv .listringht h1 {
  margin-left: 84px;
  font-size: 17px;
  color: #424242;
  margin-top: 20px;
}
/* line 136, ../sass/_navigation.scss */
.listdiv .listringht ul {
  width: 260px;
  height: 394px;
  margin: 10px 20px 10px 20px;
}
/* line 141, ../sass/_navigation.scss */
.listdiv .listringht ul li {
  width: 125px;
  height: 187px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
}
/* line 149, ../sass/_navigation.scss */
.listdiv .listringht ul #li2,
.listdiv .listringht ul #li4 {
  margin-right: 0px;
}

/* line 156, ../sass/_navigation.scss */
#liimgs img {
  display: inline-block;
  width: 114px;
  height: 114px;
  margin-top: 5px;
  margin-left: 5px;
}
/* line 163, ../sass/_navigation.scss */
#liimgs h3 {
  width: 114px;
  margin-top: 3px;
  margin-left: 5px;
  font-size: 10px;
  height: 20px;
  color: #424242;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 174, ../sass/_navigation.scss */
#liimgs p {
  margin-left: 32px;
  margin-top: 12px;
}

/* line 179, ../sass/_navigation.scss */
#navigation .cringht {
  width: 990px;
}
/* line 182, ../sass/_navigation.scss */
#navigation .cringht ul {
  display: flex;
}
/* line 184, ../sass/_navigation.scss */
#navigation .cringht ul li {
  height: 36px;
  margin-right: 28px;
}
/* line 187, ../sass/_navigation.scss */
#navigation .cringht ul li a {
  color: #424242;
  line-height: 36px;
  font-size: 14px;
}
/* line 192, ../sass/_navigation.scss */
#navigation .cringht ul li a:hover {
  color: #707070;
}

/* line 1, ../sass/_slideshow.scss */
#slideshow {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}
/* line 6, ../sass/_slideshow.scss */
#slideshow ul {
  width: 500%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 11, ../sass/_slideshow.scss */
#slideshow ul li {
  width: 1519px;
  float: left;
  height: 450px;
}

/* line 18, ../sass/_slideshow.scss */
ol {
  position: absolute;
  left: 45%;
  bottom: 20px;
}
/* line 22, ../sass/_slideshow.scss */
ol li {
  width: 10px;
  height: 10px;
  border-radius: 6px;
  border: 2px solid #fff;
  text-indent: -999em;
  margin: 0 4px;
  cursor: pointer;
  opacity: 0.4;
  float: left;
}
/* line 33, ../sass/_slideshow.scss */
ol .active {
  background-color: #fff;
  opacity: 1;
}

/* line 1, ../sass/_recommend.scss */
#recommend {
  height: 218px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 7, ../sass/_recommend.scss */
#recommend ul {
  margin-top: 10px;
  width: 1200px;
  margin-right: 10px;
  background-color: brown;
}
/* line 12, ../sass/_recommend.scss */
#recommend ul li {
  width: 290px;
  height: 180px;
  float: left;
  margin-right: 10px;
}
/* line 17, ../sass/_recommend.scss */
#recommend ul li img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 24, ../sass/_recommend.scss */
#recommend img:hover {
  opacity: 0.8;
}

/* line 28, ../sass/_recommend.scss */
li:last-child {
  margin-right: 0;
}

/* line 31, ../sass/_recommend.scss */
.title {
  width: 1200px;
  height: 24px;
  font-size: 18px;
  margin: 14px 0;
  color: #757575;
}

/* line 1, ../sass/_choiceness.scss */
#choiceness {
  height: 604px;
  margin-bottom: 30px;
}
/* line 5, ../sass/_choiceness.scss */
#choiceness p {
  width: 1200px;
  height: 24px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #757575;
}
/* line 12, ../sass/_choiceness.scss */
#choiceness .mrjx1 {
  width: 300px;
  height: 570px;
  padding-right: 10px;
  float: left;
}
/* line 18, ../sass/_choiceness.scss */
#choiceness .mrjx1 img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 26, ../sass/_choiceness.scss */
#choiceness .mrjx2 {
  width: 590px;
  height: 560px;
  padding-right: 10px;
  padding-bottom: 10px;
  float: left;
}
/* line 32, ../sass/_choiceness.scss */
#choiceness .mrjx2 .mrjx2_top {
  width: 590px;
  height: 270px;
  padding-bottom: 10px;
  float: left;
}
/* line 37, ../sass/_choiceness.scss */
#choiceness .mrjx2 .mrjx2_top img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 43, ../sass/_choiceness.scss */
#choiceness .mrjx2 .mrjx2_xia1 {
  width: 285px;
  height: 280px;
  padding-right: 10px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
/* line 50, ../sass/_choiceness.scss */
#choiceness .mrjx2 .mrjx2_xia1 img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 56, ../sass/_choiceness.scss */
#choiceness .mrjx2 .mrjx2_xia2 {
  width: 285px;
  height: 280px;
  float: left;
  margin-top: 10px;
}
/* line 61, ../sass/_choiceness.scss */
#choiceness .mrjx2 .mrjx2_xia2 img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 69, ../sass/_choiceness.scss */
#choiceness .mrjx3 {
  width: 290px;
  height: 570px;
  float: left;
}
/* line 73, ../sass/_choiceness.scss */
#choiceness .mrjx3 .mrjx3_top {
  width: 290px;
  height: 275px;
  float: left;
  padding-bottom: 10px;
}
/* line 78, ../sass/_choiceness.scss */
#choiceness .mrjx3 .mrjx3_top img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 84, ../sass/_choiceness.scss */
#choiceness .mrjx3 .mrjx3_xia {
  width: 290px;
  height: 275px;
  margin-top: 10px;
  float: left;
}
/* line 89, ../sass/_choiceness.scss */
#choiceness .mrjx3 .mrjx3_xia img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 96, ../sass/_choiceness.scss */
#choiceness img:hover {
  opacity: 0.8;
}

/* line 1, ../sass/_refrigerator.scss */
#refrigerator {
  height: 616px;
  margin-bottom: 30px;
}
/* line 5, ../sass/_refrigerator.scss */
#refrigerator .bx_bt {
  width: 100%;
  height: 36px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
/* line 12, ../sass/_refrigerator.scss */
#refrigerator .bx_bt #sp {
  width: 37px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  background: #f90002;
}
/* line 22, ../sass/_refrigerator.scss */
#refrigerator .bx_bt a {
  margin-left: 10px;
  font-size: 14px;
  color: #747474;
  text-decoration: none;
}
/* line 28, ../sass/_refrigerator.scss */
#refrigerator .bx_bt a:hover {
  color: #f90002;
}
/* line 31, ../sass/_refrigerator.scss */
#refrigerator .bx_bt #spp {
  color: #757575;
  font-size: 12px;
  margin-left: 10px;
}
/* line 36, ../sass/_refrigerator.scss */
#refrigerator .bx_bt #spp:hover {
  color: #f90002;
}
/* line 40, ../sass/_refrigerator.scss */
#refrigerator img:hover {
  opacity: 0.8;
}

/* line 46, ../sass/_refrigerator.scss */
#refrigerator .bx_left {
  width: 210px;
  height: 567px;
  float: left;
}
/* line 50, ../sass/_refrigerator.scss */
#refrigerator .bx_left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 58, ../sass/_refrigerator.scss */
.bx_ringht {
  width: 978px;
  height: auto;
  float: right;
}
/* line 62, ../sass/_refrigerator.scss */
.bx_ringht .left {
  width: 348px;
  height: 567px;
  float: left;
  margin-right: 10px;
}
/* line 67, ../sass/_refrigerator.scss */
.bx_ringht .left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 75, ../sass/_refrigerator.scss */
.bx_ringht .ringht {
  float: left;
}
/* line 77, ../sass/_refrigerator.scss */
.bx_ringht .ringht ul {
  width: 620px;
  height: 567px;
}
/* line 80, ../sass/_refrigerator.scss */
.bx_ringht .ringht ul li {
  width: 200px;
  height: 280px;
  margin-right: 10px;
  float: left;
  background-color: white;
}
/* line 87, ../sass/_refrigerator.scss */
.bx_ringht .ringht ul .lis {
  margin-bottom: 10px;
}
/* line 90, ../sass/_refrigerator.scss */
.bx_ringht .ringht ul #li3 {
  margin-right: 0;
}

/* line 97, ../sass/_refrigerator.scss */
.bx_ringht li a {
  display: inline-block;
  width: 170px;
  height: 170px;
  padding: 15px;
}
/* line 102, ../sass/_refrigerator.scss */
.bx_ringht li a img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 107, ../sass/_refrigerator.scss */
.bx_ringht li a h4 {
  width: 100%;
  padding-right: 25px;
  height: 17px;
  font-size: 14px;
  margin-top: 16px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3e3a39;
}

/* line 122, ../sass/_refrigerator.scss */
.bx_ringht li a p {
  color: #979797;
  font-size: 12px;
  width: 100%;
  height: 14px;
  line-height: 14px;
  margin-top: 5px;
  padding: 0 20px 0 4px;
}
/* line 131, ../sass/_refrigerator.scss */
.bx_ringht li a span {
  display: inline-block;
  width: 100%;
  height: 16.8px;
  padding: 0 40px;
  color: #ff4d4f;
  font-size: 14px;
  cursor: pointer;
}

/* line 1, ../sass/_calorifier.scss */
#calorifier {
  height: 616px;
  margin-bottom: 30px;
}
/* line 5, ../sass/_calorifier.scss */
#calorifier .bx_bt {
  width: 100%;
  height: 36px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
/* line 12, ../sass/_calorifier.scss */
#calorifier .bx_bt #sp {
  width: 37px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  background: #f90002;
}
/* line 22, ../sass/_calorifier.scss */
#calorifier .bx_bt a {
  margin-left: 10px;
  font-size: 14px;
  color: #747474;
  text-decoration: none;
}
/* line 28, ../sass/_calorifier.scss */
#calorifier .bx_bt a:hover {
  color: #f90002;
}
/* line 31, ../sass/_calorifier.scss */
#calorifier .bx_bt #spp {
  color: #757575;
  font-size: 12px;
  margin-left: 10px;
}
/* line 36, ../sass/_calorifier.scss */
#calorifier .bx_bt #spp:hover {
  color: #f90002;
}
/* line 40, ../sass/_calorifier.scss */
#calorifier img:hover {
  opacity: 0.8;
}

/* line 46, ../sass/_calorifier.scss */
#calorifier .bx_left {
  width: 210px;
  height: 567px;
  float: left;
}
/* line 50, ../sass/_calorifier.scss */
#calorifier .bx_left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 58, ../sass/_calorifier.scss */
.bx_ringht {
  width: 978px;
  height: auto;
  float: right;
}
/* line 62, ../sass/_calorifier.scss */
.bx_ringht .left {
  width: 348px;
  height: 567px;
  float: left;
  margin-right: 10px;
}
/* line 67, ../sass/_calorifier.scss */
.bx_ringht .left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 75, ../sass/_calorifier.scss */
.bx_ringht .ringht {
  float: left;
}
/* line 77, ../sass/_calorifier.scss */
.bx_ringht .ringht ul {
  width: 620px;
  height: 567px;
}
/* line 80, ../sass/_calorifier.scss */
.bx_ringht .ringht ul li {
  width: 200px;
  height: 280px;
  margin-right: 10px;
  float: left;
  background-color: white;
}
/* line 87, ../sass/_calorifier.scss */
.bx_ringht .ringht ul .lis {
  margin-bottom: 10px;
}
/* line 90, ../sass/_calorifier.scss */
.bx_ringht .ringht ul #li3 {
  margin-right: 0;
}

/* line 97, ../sass/_calorifier.scss */
.bx_ringht li a {
  display: inline-block;
  width: 170px;
  height: 170px;
  padding: 15px;
}
/* line 102, ../sass/_calorifier.scss */
.bx_ringht li a img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 107, ../sass/_calorifier.scss */
.bx_ringht li a h4 {
  width: 100%;
  padding-right: 25px;
  height: 17px;
  font-size: 14px;
  margin-top: 16px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3e3a39;
}

/* line 122, ../sass/_calorifier.scss */
.bx_ringht li a p {
  color: #979797;
  font-size: 12px;
  width: 100%;
  height: 14px;
  line-height: 14px;
  margin-top: 5px;
  padding: 0 20px 0 4px;
}
/* line 131, ../sass/_calorifier.scss */
.bx_ringht li a span {
  display: inline-block;
  width: 100%;
  height: 16.8px;
  padding: 0 40px;
  color: #ff4d4f;
  font-size: 14px;
  cursor: pointer;
}

/* line 1, ../sass/_electric.scss */
#electric {
  height: 616px;
  margin-bottom: 30px;
}
/* line 5, ../sass/_electric.scss */
#electric .bx_bt {
  width: 100%;
  height: 36px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
/* line 12, ../sass/_electric.scss */
#electric .bx_bt #sp {
  width: 37px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  background: #f90002;
}
/* line 22, ../sass/_electric.scss */
#electric .bx_bt a {
  margin-left: 10px;
  font-size: 14px;
  color: #747474;
  text-decoration: none;
}
/* line 28, ../sass/_electric.scss */
#electric .bx_bt a:hover {
  color: #f90002;
}
/* line 31, ../sass/_electric.scss */
#electric .bx_bt #spp {
  color: #757575;
  font-size: 12px;
  margin-left: 10px;
}
/* line 36, ../sass/_electric.scss */
#electric .bx_bt #spp:hover {
  color: #f90002;
}
/* line 40, ../sass/_electric.scss */
#electric img:hover {
  opacity: 0.8;
}

/* line 46, ../sass/_electric.scss */
#electric .bx_left {
  width: 210px;
  height: 567px;
  float: left;
}
/* line 50, ../sass/_electric.scss */
#electric .bx_left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 58, ../sass/_electric.scss */
.bx_ringht {
  width: 978px;
  height: auto;
  float: right;
}
/* line 62, ../sass/_electric.scss */
.bx_ringht .left {
  width: 348px;
  height: 567px;
  float: left;
  margin-right: 10px;
}
/* line 67, ../sass/_electric.scss */
.bx_ringht .left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 75, ../sass/_electric.scss */
.bx_ringht .ringht {
  float: left;
}
/* line 77, ../sass/_electric.scss */
.bx_ringht .ringht ul {
  width: 620px;
  height: 567px;
}
/* line 80, ../sass/_electric.scss */
.bx_ringht .ringht ul li {
  width: 200px;
  height: 280px;
  margin-right: 10px;
  float: left;
  background-color: white;
}
/* line 87, ../sass/_electric.scss */
.bx_ringht .ringht ul .lis {
  margin-bottom: 10px;
}
/* line 90, ../sass/_electric.scss */
.bx_ringht .ringht ul #li3 {
  margin-right: 0;
}

/* line 97, ../sass/_electric.scss */
.bx_ringht li a {
  display: inline-block;
  width: 170px;
  height: 170px;
  padding: 15px;
}
/* line 102, ../sass/_electric.scss */
.bx_ringht li a img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 107, ../sass/_electric.scss */
.bx_ringht li a h4 {
  width: 100%;
  padding-right: 25px;
  height: 17px;
  font-size: 14px;
  margin-top: 16px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3e3a39;
}

/* line 122, ../sass/_electric.scss */
.bx_ringht li a p {
  color: #979797;
  font-size: 12px;
  width: 100%;
  height: 14px;
  line-height: 14px;
  margin-top: 5px;
  padding: 0 20px 0 4px;
}
/* line 131, ../sass/_electric.scss */
.bx_ringht li a span {
  display: inline-block;
  width: 100%;
  height: 16.8px;
  padding: 0 40px;
  color: #ff4d4f;
  font-size: 14px;
  cursor: pointer;
}

/* line 1, ../sass/_live.scss */
#live {
  height: 616px;
  margin-bottom: 30px;
}
/* line 5, ../sass/_live.scss */
#live .bx_bt {
  width: 100%;
  height: 36px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
/* line 12, ../sass/_live.scss */
#live .bx_bt #sp {
  width: 37px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  background: #f90002;
}
/* line 22, ../sass/_live.scss */
#live .bx_bt a {
  margin-left: 10px;
  font-size: 14px;
  color: #747474;
  text-decoration: none;
}
/* line 28, ../sass/_live.scss */
#live .bx_bt a:hover {
  color: #f90002;
}
/* line 31, ../sass/_live.scss */
#live .bx_bt #spp {
  color: #757575;
  font-size: 12px;
  margin-left: 10px;
}
/* line 36, ../sass/_live.scss */
#live .bx_bt #spp:hover {
  color: #f90002;
}
/* line 40, ../sass/_live.scss */
#live img:hover {
  opacity: 0.8;
}

/* line 46, ../sass/_live.scss */
#live .bx_left {
  width: 210px;
  height: 567px;
  float: left;
}
/* line 50, ../sass/_live.scss */
#live .bx_left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 58, ../sass/_live.scss */
.bx_ringht {
  width: 978px;
  height: auto;
  float: right;
}
/* line 62, ../sass/_live.scss */
.bx_ringht .left {
  width: 348px;
  height: 567px;
  float: left;
  margin-right: 10px;
}
/* line 67, ../sass/_live.scss */
.bx_ringht .left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 75, ../sass/_live.scss */
.bx_ringht .ringht {
  float: left;
}
/* line 77, ../sass/_live.scss */
.bx_ringht .ringht ul {
  width: 620px;
  height: 567px;
}
/* line 80, ../sass/_live.scss */
.bx_ringht .ringht ul li {
  width: 200px;
  height: 280px;
  margin-right: 10px;
  float: left;
  background-color: white;
}
/* line 87, ../sass/_live.scss */
.bx_ringht .ringht ul .lis {
  margin-bottom: 10px;
}
/* line 90, ../sass/_live.scss */
.bx_ringht .ringht ul #li3 {
  margin-right: 0;
}

/* line 97, ../sass/_live.scss */
.bx_ringht li a {
  display: inline-block;
  width: 170px;
  height: 170px;
  padding: 15px;
}
/* line 102, ../sass/_live.scss */
.bx_ringht li a img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 107, ../sass/_live.scss */
.bx_ringht li a h4 {
  width: 100%;
  padding-right: 25px;
  height: 17px;
  font-size: 14px;
  margin-top: 16px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3e3a39;
}

/* line 122, ../sass/_live.scss */
.bx_ringht li a p {
  color: #979797;
  font-size: 12px;
  width: 100%;
  height: 14px;
  line-height: 14px;
  margin-top: 5px;
  padding: 0 20px 0 4px;
}
/* line 131, ../sass/_live.scss */
.bx_ringht li a span {
  display: inline-block;
  width: 100%;
  height: 16.8px;
  padding: 0 40px;
  color: #ff4d4f;
  font-size: 14px;
  cursor: pointer;
}

/* line 1, ../sass/_phone.scss */
#phone {
  height: 616px;
  margin-bottom: 30px;
}
/* line 5, ../sass/_phone.scss */
#phone .bx_bt {
  width: 100%;
  height: 36px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
/* line 12, ../sass/_phone.scss */
#phone .bx_bt #sp {
  width: 37px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  background: #f90002;
}
/* line 22, ../sass/_phone.scss */
#phone .bx_bt a {
  margin-left: 10px;
  font-size: 14px;
  color: #747474;
  text-decoration: none;
}
/* line 28, ../sass/_phone.scss */
#phone .bx_bt a:hover {
  color: #f90002;
}
/* line 31, ../sass/_phone.scss */
#phone .bx_bt #spp {
  color: #757575;
  font-size: 12px;
  margin-left: 10px;
}
/* line 36, ../sass/_phone.scss */
#phone .bx_bt #spp:hover {
  color: #f90002;
}
/* line 40, ../sass/_phone.scss */
#phone img:hover {
  opacity: 0.8;
}

/* line 46, ../sass/_phone.scss */
#phone .bx_left {
  width: 210px;
  height: 567px;
  float: left;
}
/* line 50, ../sass/_phone.scss */
#phone .bx_left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 58, ../sass/_phone.scss */
.bx_ringht {
  width: 978px;
  height: auto;
  float: right;
}
/* line 62, ../sass/_phone.scss */
.bx_ringht .left {
  width: 348px;
  height: 567px;
  float: left;
  margin-right: 10px;
}
/* line 67, ../sass/_phone.scss */
.bx_ringht .left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 75, ../sass/_phone.scss */
.bx_ringht .ringht {
  float: left;
}
/* line 77, ../sass/_phone.scss */
.bx_ringht .ringht ul {
  width: 620px;
  height: 567px;
}
/* line 80, ../sass/_phone.scss */
.bx_ringht .ringht ul li {
  width: 200px;
  height: 280px;
  margin-right: 10px;
  float: left;
  background-color: white;
}
/* line 87, ../sass/_phone.scss */
.bx_ringht .ringht ul .lis {
  margin-bottom: 10px;
}
/* line 90, ../sass/_phone.scss */
.bx_ringht .ringht ul #li3 {
  margin-right: 0;
}

/* line 97, ../sass/_phone.scss */
.bx_ringht li a {
  display: inline-block;
  width: 170px;
  height: 170px;
  padding: 15px;
}
/* line 102, ../sass/_phone.scss */
.bx_ringht li a img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 107, ../sass/_phone.scss */
.bx_ringht li a h4 {
  width: 100%;
  padding-right: 25px;
  height: 17px;
  font-size: 14px;
  margin-top: 16px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3e3a39;
}

/* line 122, ../sass/_phone.scss */
.bx_ringht li a p {
  color: #979797;
  font-size: 12px;
  width: 100%;
  height: 14px;
  line-height: 14px;
  margin-top: 5px;
  padding: 0 20px 0 4px;
}
/* line 131, ../sass/_phone.scss */
.bx_ringht li a span {
  display: inline-block;
  width: 100%;
  height: 16.8px;
  padding: 0 40px;
  color: #ff4d4f;
  font-size: 14px;
  cursor: pointer;
}

/* line 1, ../sass/_conditioner.scss */
#conditioner {
  height: 616px;
  margin-bottom: 30px;
}
/* line 5, ../sass/_conditioner.scss */
#conditioner .bx_bt {
  width: 100%;
  height: 36px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
/* line 12, ../sass/_conditioner.scss */
#conditioner .bx_bt #sp {
  width: 37px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  background: #f90002;
}
/* line 22, ../sass/_conditioner.scss */
#conditioner .bx_bt a {
  margin-left: 10px;
  font-size: 14px;
  color: #747474;
  text-decoration: none;
}
/* line 28, ../sass/_conditioner.scss */
#conditioner .bx_bt a:hover {
  color: #f90002;
}
/* line 31, ../sass/_conditioner.scss */
#conditioner .bx_bt #spp {
  color: #757575;
  font-size: 12px;
  margin-left: 10px;
}
/* line 36, ../sass/_conditioner.scss */
#conditioner .bx_bt #spp:hover {
  color: #f90002;
}
/* line 40, ../sass/_conditioner.scss */
#conditioner img:hover {
  opacity: 0.8;
}

/* line 46, ../sass/_conditioner.scss */
#conditioner .bx_left {
  width: 210px;
  height: 567px;
  float: left;
}
/* line 50, ../sass/_conditioner.scss */
#conditioner .bx_left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 58, ../sass/_conditioner.scss */
.bx_ringht {
  width: 978px;
  height: auto;
  float: right;
}
/* line 62, ../sass/_conditioner.scss */
.bx_ringht .left {
  width: 348px;
  height: 567px;
  float: left;
  margin-right: 10px;
}
/* line 67, ../sass/_conditioner.scss */
.bx_ringht .left img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 75, ../sass/_conditioner.scss */
.bx_ringht .ringht {
  float: left;
}
/* line 77, ../sass/_conditioner.scss */
.bx_ringht .ringht ul {
  width: 620px;
  height: 567px;
}
/* line 80, ../sass/_conditioner.scss */
.bx_ringht .ringht ul li {
  width: 200px;
  height: 280px;
  margin-right: 10px;
  float: left;
  background-color: white;
}
/* line 87, ../sass/_conditioner.scss */
.bx_ringht .ringht ul .lis {
  margin-bottom: 10px;
}
/* line 90, ../sass/_conditioner.scss */
.bx_ringht .ringht ul #li3 {
  margin-right: 0;
}

/* line 97, ../sass/_conditioner.scss */
.bx_ringht li a {
  display: inline-block;
  width: 170px;
  height: 170px;
  padding: 15px;
}
/* line 102, ../sass/_conditioner.scss */
.bx_ringht li a img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 107, ../sass/_conditioner.scss */
.bx_ringht li a h4 {
  width: 100%;
  padding-right: 25px;
  height: 17px;
  font-size: 14px;
  margin-top: 16px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3e3a39;
}

/* line 122, ../sass/_conditioner.scss */
.bx_ringht li a p {
  color: #979797;
  font-size: 12px;
  width: 100%;
  height: 14px;
  line-height: 14px;
  margin-top: 5px;
  padding: 0 20px 0 4px;
}
/* line 131, ../sass/_conditioner.scss */
.bx_ringht li a span {
  display: inline-block;
  width: 100%;
  height: 16.8px;
  padding: 0 40px;
  color: #ff4d4f;
  font-size: 14px;
  cursor: pointer;
}

/* line 1, ../sass/_louti.scss */
#louti {
  position: fixed;
  left: 1444.2px;
  top: 199px;
  right: 15px;
  z-index: 999;
  display: none;
}
/* line 8, ../sass/_louti.scss */
#louti ul {
  width: 60px;
  background-color: white;
}
/* line 11, ../sass/_louti.scss */
#louti ul li {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
  margin-top: 2px;
  color: #cc0000;
  cursor: move;
}
/* line 21, ../sass/_louti.scss */
#louti ul .yanse {
  background-color: #cc0000;
  color: white;
}
/* line 26, ../sass/_louti.scss */
#louti p {
  font-size: 14px;
  color: #cc0000;
}

/* line 1, ../sass/_video.scss */
#video {
  height: 236.8px;
  margin-bottom: 30px;
}
/* line 5, ../sass/_video.scss */
#video h3 {
  line-height: 40px;
  font-size: 14px;
  font-weight: normal;
}
/* line 10, ../sass/_video.scss */
#video li {
  width: 280px;
  overflow: hidden;
  margin-right: 26.67px;
  float: left;
  background: #ffffff;
}
/* line 16, ../sass/_video.scss */
#video li .sp1 {
  width: 100%;
  max-height: 160px;
  cursor: pointer;
}
/* line 20, ../sass/_video.scss */
#video li .sp1 img {
  width: 100%;
  height: 100%;
  max-height: 160px;
  display: block;
}
/* line 27, ../sass/_video.scss */
#video li h4 {
  font-size: 14px;
  color: #666666;
  padding-top: 10px;
  margin-left: 84px;
}
/* line 33, ../sass/_video.scss */
#video li p {
  font-size: 12px;
  color: #999999;
  padding-bottom: 20px;
  padding-left: 84px;
}
/* line 40, ../sass/_video.scss */
#video #lis4 {
  margin-right: 0;
}
/* line 43, ../sass/_video.scss */
#video li:hover {
  opacity: 0.8;
}

/* line 1, ../sass/_bigmap.scss */
#bigmap {
  overflow: hidden;
}
/* line 4, ../sass/_bigmap.scss */
#bigmap .img1:hover {
  border: none;
  outline: none;
  width: 1200px;
  opacity: 0.8;
}
/* line 10, ../sass/_bigmap.scss */
#bigmap ul {
  margin-top: 26px;
  overflow: hidden;
  padding: 40px 0;
  background-color: #fff;
}
/* line 15, ../sass/_bigmap.scss */
#bigmap ul li:last-child {
  border-right: 0;
}

/* line 20, ../sass/_bigmap.scss */
#bigmap ul li {
  width: 25%;
  border-right: 1px solid #dedede;
  padding: 0 25px;
  box-sizing: border-box;
  float: left;
}

/* line 27, ../sass/_bigmap.scss */
#bigmap ul li {
  width: 300px;
  display: block;
  cursor: move;
}
/* line 32, ../sass/_bigmap.scss */
#bigmap ul li .img2:hover {
  opacity: 0.8;
}

/* line 1, ../sass/_footer.scss */
#footer {
  height: 378.6px;
  margin-bottom: 30px;
  border-top: 1px solid #ccc;
  background-color: white;
}
/* line 7, ../sass/_footer.scss */
#footer ul {
  width: 960px;
  height: 226.6px;
  margin: 0 auto;
  padding: 37px 90px 0px 150px;
}
/* line 12, ../sass/_footer.scss */
#footer ul li {
  width: 135px;
  height: 166px;
  float: left;
  margin-right: 15px;
}
/* line 17, ../sass/_footer.scss */
#footer ul li dd {
  height: 25px;
}
/* line 20, ../sass/_footer.scss */
#footer ul li a {
  color: #b2b2b2;
  font-size: 12px;
  line-height: 25px;
}
/* line 24, ../sass/_footer.scss */
#footer ul li a:hover {
  cursor: move;
}
/* line 29, ../sass/_footer.scss */
#footer ul li:last-child {
  margin-right: 0;
}

/* line 34, ../sass/_footer.scss */
#hehe {
  width: 150px;
  height: 35px;
  line-height: 35px;
  margin: auto;
  color: #525252;
}

/* line 41, ../sass/_footer.scss */
.footer_xia {
  width: 1200px;
  height: 50px;
  margin-top: 46px;
}
/* line 45, ../sass/_footer.scss */
.footer_xia img {
  width: 120px;
  height: 40px;
  display: block;
  margin-left: 21px;
}
